nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding:5px 20px;
}
nav img{
    width: 200px;
}
nav ul{
    display: flex;
    gap:50px;
    list-style: none;
    margin-right: 15rem;
}
nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.4s ;
}
nav ul li a:hover{
    background-color: rgb(1, 48, 167);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    padding: 8px 16px;
}